@font-face {
  font-family: "Icons";
  src: url('../fonts/bsc-icomoon.eot');
  src: url('../fonts/bsc-icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/bsc-icomoon.woff') format('woff'), url('../fonts/bsc-icomoon.ttf') format('truetype'), url('../fonts/bsc-icomoon.svg') format('svg');
  font-weight: normal;
}

/* line 6, ../sass/_carousel.scss */
.carousel {
  position: relative;
}
/* line 10, ../sass/_carousel.scss */
.carousel * {
  box-sizing: border-box;
}
/* line 14, ../sass/_carousel.scss */
.carousel .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
/* line 19, ../sass/_carousel.scss */
.carousel .carousel-inner > .item {
  display: none;
  position: relative;
  -webkit-transition: left 0.6s ease-in-out;
  -moz-transition: left 0.6s ease-in-out;
  -o-transition: left 0.6s ease-in-out;
  transition: left 0.6s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}
/* line 30, ../sass/_carousel.scss */
.carousel .carousel-inner > .item > img,
.carousel .carousel-inner > .item > a > img {
  vertical-align: top;
  width: 100%;
  height: auto;
}
/* line 39, ../sass/_carousel.scss */
.carousel .carousel-inner > .active,
.carousel .carousel-inner > .next,
.carousel .carousel-inner > .prev {
  display: block;
}
/* line 45, ../sass/_carousel.scss */
.carousel .carousel-inner > .active {
  left: 0;
}
/* line 49, ../sass/_carousel.scss */
.carousel .carousel-inner > .next,
.carousel .carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 55, ../sass/_carousel.scss */
.carousel .carousel-inner > .next.next,
.carousel .carousel-inner > .prev.next {
  left: 100%;
}
/* line 59, ../sass/_carousel.scss */
.carousel .carousel-inner > .next.prev,
.carousel .carousel-inner > .prev.prev {
  left: -100%;
}
/* line 65, ../sass/_carousel.scss */
.carousel .carousel-inner > .next.left,
.carousel .carousel-inner > .prev.right {
  left: 0;
}
/* line 70, ../sass/_carousel.scss */
.carousel .carousel-inner > .active.left {
  left: -100%;
}
/* line 74, ../sass/_carousel.scss */
.carousel .carousel-inner > .active.right {
  left: 100%;
}
/* line 86, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .item {
  -webkit-transition: top 0.6s ease-in-out;
  -moz-transition: top 0.6s ease-in-out;
  -o-transition: top 0.6s ease-in-out;
  transition: top 0.6s ease-in-out;
}
/* line 90, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .active {
  top: 0;
  left: auto;
}
/* line 95, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .next,
.carousel.vertical .carousel-inner > .prev {
  top: auto;
  left: auto;
}
/* line 100, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .next.next,
.carousel.vertical .carousel-inner > .prev.next {
  top: 100%;
  left: auto;
}
/* line 105, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .next.prev,
.carousel.vertical .carousel-inner > .prev.prev {
  top: -100%;
  left: auto;
}
/* line 112, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .next.left,
.carousel.vertical .carousel-inner > .prev.right {
  top: 0;
  left: auto;
}
/* line 118, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .active.left {
  top: -100%;
  left: auto;
}
/* line 123, ../sass/_carousel.scss */
.carousel.vertical .carousel-inner > .active.right {
  top: 100%;
  left: auto;
}
/* line 132, ../sass/_carousel.scss */
.carousel .carousel-control {
  position: absolute;
  top: 50%;
  left: 2%;
  margin-top: -20px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 10, ../sass/_icon.scss */
.carousel .carousel-control.left:before {
  content: "\f053";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'Icons';
  bottom: -1px;
  position: relative;
}
/* line 147, ../sass/_carousel.scss */
.carousel .carousel-control.right {
  left: auto;
  right: 2%;
}
/* line 10, ../sass/_icon.scss */
.carousel .carousel-control.right:before {
  content: "\f054";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'Icons';
  bottom: -1px;
  position: relative;
}
/* line 153, ../sass/_carousel.scss */
.carousel .carousel-control:hover, .carousel .carousel-control:focus {
  color: white;
}
/* line 160, ../sass/_carousel.scss */
.carousel .carousel-indicators {
  position: absolute;
  bottom: 6px;
  right: 6px;
  z-index: 15;
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 169, ../sass/_carousel.scss */
.carousel .carousel-indicators li {
  display: inline-block;
  margin-left: 1px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}
/* line 10, ../sass/_icon.scss */
.carousel .carousel-indicators li:before {
  content: "\f111";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'Icons';
  bottom: -1px;
  position: relative;
}
/* line 177, ../sass/_carousel.scss */
.carousel .carousel-indicators .active {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

/* line 5, ../sass/_caro.scss */
#display .zoom {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  font-size: 26px;
  color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
/* line 10, ../sass/_icon.scss */
#display .zoom:before {
  content: "\f065";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'Icons';
  bottom: -1px;
  position: relative;
}
/* line 20, ../sass/_caro.scss */
#display .carousel-inner:hover .zoom {
  color: white;
}

/*ul*/
/* line 30, ../sass/_caro.scss */
#thumbs.vertical {
  display: inline-block;
}
/* line 33, ../sass/_caro.scss */
#thumbs.vertical .carousel-inner {
  width: auto;
  display: inline-block;
}
/* line 38, ../sass/_caro.scss */
#thumbs.vertical .carousel-inner .thumbnails .thumbnail {
  float: none;
  width: 100px;
}
/* line 46, ../sass/_caro.scss */
#thumbs .thumbnails {
  margin: 0;
  padding: 0;
}
/* line 50, ../sass/_caro.scss */
#thumbs .thumbnails .thumbnail {
  float: left;
  width: 20%;
  position: relative;
  list-style: none;
}
/* line 58, ../sass/_caro.scss */
#thumbs .thumbnails .thumbnail.selected > a.action {
  border-top: 2px rgba(255, 255, 255, 0.7) solid;
  outline: none;
  -webkit-box-shadow: inset 0 0 36px black;
  -moz-box-shadow: inset 0 0 36px black;
  box-shadow: inset 0 0 36px black;
}
/* line 71, ../sass/_caro.scss */
#thumbs .thumbnails .thumbnail:not(.selected) > a:hover.action {
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
}
/* line 82, ../sass/_caro.scss */
#thumbs .thumbnails .thumbnail > a.action {
  position: absolute;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 93, ../sass/_caro.scss */
#thumbs .thumbnails .thumbnail img {
  width: 100%;
  height: auto;
  vertical-align: top;
}
/* line 103, ../sass/_caro.scss */
#thumbs .carousel-control {
  font-size: 20px;
  margin-top: -10px;
}

/* line 3, ../sass/_mobile.scss */
.carousel.mobile .carousel-control {
  display: none;
}
/* line 7, ../sass/_mobile.scss */
.carousel.mobile .zoom {
  display: none;
}
/* line 11, ../sass/_mobile.scss */
.carousel.mobile .carousel-indicators {
  width: 100%;
  text-align: center;
}

/* line 10, ../sass/_icon.scss */
#display.mobile .carousel-inner:before {
  content: "\f07e";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-family: 'Icons';
  bottom: -1px;
  position: relative;
  font-size: 80px;
  bottom: inherit;
  position: absolute;
  z-index: 1;
  color: rgba(255, 255, 255, 0.5);
  left: 50%;
  margin-left: -40px;
  line-height: 0;
  top: 24px;
}

/* line 36, ../sass/_mobile.scss */
#thumbs.mobile {
  display: none;
}

/*@ sourceMappingURL=bs-carousel.css.map */