//
// Carousel
// --------------------------------------------------

// Wrapper for the slide container and indicators
.carousel {
  position: relative;

  // Como minimo aseguramos que el carousel tenga  border-box en sus elementos.
  * {
    box-sizing: border-box;
  }

  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;

    > .item {
      display: none;
      position: relative;
      @include transition(left .6s ease-in-out);
      // Forzamos el renderizado por CPU para Webkit (FF e IE ya lo hacen por defecto)
      // http://davidwalsh.name/translate3d
      -webkit-transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden;
      -webkit-perspective: 1000;

      // Account for jankitude on images
      > img,
      > a > img {
        vertical-align: top;
        width: 100%;
        height: auto;
      }

    }

    > .active,
    > .next,
    > .prev {
      display: block;
    }

    > .active {
      left: 0;
    }

    > .next,
    > .prev {
      position: absolute;
      top: 0;
      width: 100%;

      &.next {
        left: 100%;
      }

      &.prev {
        left: -100%;
      }

    }

    > .next.left,
    > .prev.right {
      left: 0;
    }

    > .active.left {
      left: -100%;
    }

    > .active.right {
      left: 100%;
    }

  }

  // Si el carousel fue declarado como vertical, hacemos algunos ajustes
  // para cambiar la orientacion de las animaciones de horz a vert
  &.vertical {

    .carousel-inner {

      > .item {
        @include transition(top .6s ease-in-out);
      }

      > .active {
        top: 0;
        left: auto;
      }

      > .next,
      > .prev {
        top: auto;
        left: auto;

        &.next {
          top: 100%;
          left: auto;
        }

        &.prev {
          top: -100%;
          left: auto;
        }

      }

      > .next.left,
      > .prev.right {
        top: 0;
        left: auto;
      }

      > .active.left {
        top: -100%;
        left: auto;
      }

      > .active.right {
        top: 100%;
        left: auto;
      }

    }

  }

  .carousel-control {
    position: absolute;
    top: 50%;
    left: 2%;
    margin-top: -20px;
    font-size: 40px;
    color: rgba(white, .7);
    text-align: center;
    text-decoration: none;
    @include transition(color .2s);

    &.left {
      @include icon($icon-chevron-left);
    }

    &.right {
      @include icon($icon-chevron-right);
      left: auto;
      right: 2%;
    }

    &:hover,
    &:focus {
      color: white;
    }

  }

  .carousel-indicators {
    position: absolute;
    bottom: 6px;
    right: 6px;
    z-index: 15;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 1px;
      cursor: pointer;
      color: rgba(white, .5);
      @include icon($icon-circle);
    }

    .active {
      color: white;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
    }
  }

}




