// Aqui va toda la logica nuestra. Por ejemplo que haya thumbs y un slider principal es invento nuestro. Hay que maquetarlo aca

#display {

  .zoom {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1;
    font-size: 26px;
    color: rgba(white, .3);
    cursor: pointer;
    @include icon($icon-expand);
    @include transition(color .3s);
  }

  .carousel-inner {

    &:hover {
      .zoom {
        color: white;
      }
    }
  }
}

/*ul*/
#thumbs {

  &.vertical {
    display: inline-block;

    .carousel-inner {
      width: auto;
      display: inline-block;

      .thumbnails {
        .thumbnail {
          float: none;
          width: 100px;
        }
      }
    }
  }

  .thumbnails {
    margin: 0;
    padding: 0;

    .thumbnail {
      float: left;
      width: 20%;
      position: relative;
      list-style: none;

      &.selected {
        > a {
          &.action {
            border-top: 2px rgba(white, .7) solid;
            outline: none;
            @include box-shadow(inset 0 0 36px black);
          }

        }
      }

      &:not(.selected) {
        > a {

          &:hover {
            &.action {
              @include box-shadow(inset 0 0 10px black);
            }

          }

        }
      }

      > a {

        &.action {
          position: absolute;
          width: 100%;
          height: 100%;
          text-indent: -9999px;
          @include box-shadow(none);
          @include transition(all .3s);
        }

      }

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }

    }

  }

  .carousel-control {
    font-size: 20px;
    margin-top: -10px;
  }

}
