// For adding font icons to elements using CSS pseudo-elements
// Inspired in http://jaydenseric.com/blog/fun-with-sass-and-font-icons
// Modified by capynet (Marcelo Tosco)
@mixin icon($icon: false, $position: before, $styles: true) {
  @if $position == both {
    $position: 'before, &:after';
  }

  // Either a :before or :after pseudo-element, or both, defaulting to :before
  &:#{$position} {
    @if $icon {
      // A particular icon has been specified
      content: $icon;
    }

    @if $styles {
      // Supportive icon styles required
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: 'Icons';
      bottom: -1px;
      position: relative;
    }

    // Include any extra rules supplied for the pseudo-element
    @content;
  }
}