@include font-face("Icons", font-files("bsc-icomoon.woff", "bsc-icomoon.ttf", "bsc-icomoon.svg"), "bsc-icomoon.eot", normal);

// Map icon names to font unicode characters

$icon-search: "\f002";
$icon-step-backward: "\f048";
$icon-step-forward: "\f051";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-expand: "\f065";
$icon-compress: "\f066";
$icon-eye: "\f06e";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-angle-up: "\f106";
$icon-circle: "\f111";
$icon-drupal: "\f1a9";
$icon-slide-arrows: "\f07e";
