.carousel.mobile {

  .carousel-control {
    display: none;
  }

  .zoom {
    display: none;
  }

  .carousel-indicators {
    width: 100%;
    text-align: center;
  }

}

#display.mobile {
  .carousel-inner {
    @include icon($icon-slide-arrows) {
      font-size: 80px;
      bottom: inherit;
      position: absolute;
      z-index: 1;
      color: rgba(white, .5);
      left: 50%;
      margin-left: -40px;
      line-height: 0;
      top: 24px;
    }

  }

}

#thumbs.mobile {
  display: none;
}
